<%if session[:userrole] == "admin" or session[:userrole] == "sub_details"%>
<div class="container">
<section>				
    <div id="container_demo" >

        <div id="wrapper">
            <div id="login" class="animate form">
              <center>
                <form  action="/datawarehouse/subscriber_details" method="get" > 
                    <h1>Subscriber Details</h1> 
                     
                        <label for="msisdn"> MSISDN </label>
                        <input id="msisdn" size="12" name="msisdn" required="required" type="text" placeholder="MSISDN"/>

              </center>
                    <p class="login button"> 
                        <input type="submit" value="Generate"/> 
					                </p>

                    <p></p>
                </form>
                    <p class="change_link">
						          <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
					         </p>
            </div>
        </div>
    </div>  
</section>
 </div>

 <%else%>
<div class="container">
  <section>       
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">
            <h1><font color="red"> You Do Not have Permission to Access This Page !</font></h1> 
              <p></p>                      
              <p class="change_link">
             <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
            </p>
          </div>
        </div>
      </div>  
    </section>
 </div>
 <%end%>