<form  action="../cugs/addnumber" method="post" name="" >
<div class="row">
<div class="col-md-6 col-md-offset-3">


<input type="hidden" name="id" value="<%=@cug.id%>" class="form-control"></input>
<label>Number</label>
<input type="text" name="number" class="form-control"></input>

<label>Name</label>
<input type="text" name="Name" class="form-control"></input>