<form  action="/complaints/update_tech" > 
		<label for="feedback"> Complain Number <b><font color="#510269"> <%=session[:id] %></font></b></label><br/>
		<textarea id="feedback" name="feedback" rows="4" cols="50" type="text" ></textarea>
	<p class="login button"> 
	    <input type="submit" value="Save & Update" name="updatetech" />
	</p>
</form>