<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<title>Add Item</title>
<h1>Add Item</h1>
	<form action="/stocks/new_item" method="post" >
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<label>Date</label>
				<input type="text" name="date" id="datepicker" class="form-control" placeholder="Date" required />
				<label>Item Name</label>
				<input type="text" name="item_name" class="form-control" placeholder="Item Name" required />
				<label>Part Number</label>
				<input type="text" name="part_number" class="form-control" placeholder="Part Number" required />
				<label>Description</label>
					<input type="textarea" name="description" class="form-control" placeholder="Description" required />
				<label> Category </label>
				<select name="category"  class="form-control">
                <option value="null">---Select Category---</option>
                <% @cats.each do |cat| %>
                <option><%= cat.category_name %></option>
                <% end %>
                </select>
              	
				<label>Site</label>
					<input type="text" name="site" class="form-control" placeholder="Site" required />
				<label>IN</label>
					<input type="text" name="in" class="form-control" placeholder="IN" required />
				<label>OUT</label>
					<input type="text" name="out"   class="form-control" placeholder="OUT" required />

				<input type="submit" name="submit" id="submit" value="Save" class="btn btn-primary" />
			</div>
		</div>							
	</form>