<div class="container">
<section>
  <div id="container_demo" >
    <div id="wrapper">
      <div id="login" class="animate form">
      	<center>
			<form action="/customers/new_customer" method="post" >
				<div class="row">
					<div class="col-md-6 col-md-offset-3">

						<label>Number</label>
						<input type="text" name="number" size="7" class="form-control" placeholder="Number" required />
						<label>First Name</label>
						<input type="text" name="fname" class="form-control" placeholder="First Name" required />
						<label>Last Name</label>
						<input type="text" name="lname" class="form-control" placeholder="Last Name" required />
						<!-- <label>ID Type </label>
						<select name ="idtype">
		                  <option value="0" disabled selected>ID Type</option>
		                  <option value="biometric">Biometric ID</option>
		                  <option value="drivers_license">Driver's License</option>
		                  <option value="voter_card">Voter's Card</option>
		                  <option value="passport">National Passport</option>
		                  <option value="residence_permit">Residence Permit</option>
		                  <option value="foreign_passport">Foreign Passport</option>
		                  <option value="foreign_id_card">Foreign ID Card</option>
		                  <option value="alien_card">Alien Card</option>
		                  <option value="non_gam_biometric_id">Non-Gambian Biometric ID</option>
		                  <option value="refugee_card">Refugee Card</option>
		                </select>
						<br>
						<label>ID Number</label>
						<input type="text" name="idnumber" class="form-control" placeholder="ID Number" />
						<label>Address</label>
						<input type="text" name="address" class="form-control" placeholder="Address" required /> -->
						<input type="hidden" name="id" value="<%=@user.id%>"  class="form-control" placeholder="User ID" required />
						<input type="hidden" name="status" value="0"  class="form-control" placeholder="User ID" required />
						<p class="login button">
						<input type="submit" name="submit" id="submit" value="Assign" class="btn btn-primary" /></p>
					</div>
				</div>
				</form>
				</center>

				<p></p><br><br>
				<p class="change_link">
			      <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2016</font> <br>
			      <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
			    </p>
				</div>
			</div>
		</div>
	</section>
</div>
