<div class="container">
  <section>       
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">
          <form  action="/cyn/cyn_validate" > 
            <h1>Choose Your Number</h1> 
            <center> 
            <font color="red"> <%=flash[:not_africell]%></font><font color="green"> <%=flash[:reserved]%></font><br/>       <br/>       
              <label for="msisdn" >MSISDN</label>
              <input id="msisdn" size="8" name="msisdn" required="required" onkeypress="return isNumberKey(event)" maxlength="7" type="text" placeholder="MSISDN"/>            
            </center>
            <p class="login button"> 
              <input type="submit" value="Submit" /> 
            </p>
          </form>
              <p></p>                      
              <p class="change_link">
                <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
            </p>
          </div>
        </div>
      </div>  
    </section>
 </div>