<div class="container">
  <section>				
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">      
          <center>
            
            <form  action="/sms/new" method="post" >
            <table>
            <tr>
              

              <tr><th><label for="anumber" ><font color="white">A number &#8195;&nbsp;</font></label>
              <input id="anumber" size="20" name="anumber" required="required" type="text" placeholder="A Number" style="background-color:white;" /> </th></tr>

              <tr><th><label for="bnumber" ><font color="white">B Number &nbsp;</font></label>
              <input id="bnumber" size="20" name="bnumber" required="required" type="text" placeholder="B Number" style="background-color:white;"/></th></tr>

              <tr><th><label for="message" ><font color="white">Message &#8195;&#8195;&nbsp;&nbsp;</font></label>
              <tr><th><textarea id="message" name="message" rows="4" cols="60" type="text" required="required" /></textarea></th>
              </tr>

                <tr>            
            <tr><td><p class="login button"> 
              <input type="submit" value="Submit" /> 
            </p></td></tr>
          </form>
          </table>
          </center>
              <p></p>                      
              <p class="change_link">
			<font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
		    </p>
          </div>
        </div>
      </div>  
    </section>
 </div>