<label for="horotype" > Horoscope</label>
    <form  action="/customercare/vas_actions" method="post" >
        <select width="2" name ="horotype" required="required">
            <option value="" disabled selected>Select Horoscope</option>
           	<option value="1">Aries (March 21 - April 19)</option>
		    <option value="2">Taurus (April 20 - May 20)</option>
		    <option value="3">Gemini (May 21 - June 20)</option>
		    <option value="4">Cancer (June 21 - July 22)</option>
		    <option value="5">Leo (July 23 - August 22)</option>
		    <option value="6">Virgo (August 23 - September 22)</option>
		    <option value="7">libra (September 23 - October 22)</option>
		    <option value="8">Scorpio (October 23 - November 21)</option>
		    <option value="9">Sagittarius (November 22 - December 21)</option>
		    <option value="10">Capricorn (December 22 - January 19)</option>
		    <option value="11">Aquarius (January 20 - February 18)</option>
		    <option value="12">Pisces (February 19 - March 20)</option>
        </select>
    	<div id="activate_horo"> <input type="submit" value="Activate" name="activate_horoscope" style="background: rgb(61, 157, 179); color:#fff;font-size: 15px;border: 1px solid rgb(28, 108, 122);text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);cursor: pointer;box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,0px 0px 0px 3px rgb(254, 254, 254),0px 5px 3px 3px rgb(210, 210, 210);padding: 3px 25px; width:80px" /> </div>
      </form>