<form  action="/customercare/vas_actions" method="post" >
	<label for="toknumber" > TOK Number </label>
	<input id="toknumber" name="toknumber" required="required" onkeypress="return isNumberKey(event)" maxlength="7" type="text" placeholder="B Number"/>
	<input type="submit" value="Activate" name="activate_tok" style="background: rgb(61, 157, 179); color:#fff;font-size: 15px;border: 1px solid rgb(28, 108, 122);text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);cursor: pointer;box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,0px 0px 0px 3px rgb(254, 254, 254),0px 5px 3px 3px rgb(210, 210, 210);padding: 3px 25px; width:80px" /> 
</form>