<div class="container">
  <section>				
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">
        <h1>Service Info</h1>
         <h3>AFRICELL VALUE ADDED SERVICES</h3>
<b>What is a Pre-Paid Line?</b><br/><br/>
Africell’s prepaid line is a rechargeable SIM card that provides you quick, easy and practical access to the leading Africell GSM 900/1800 mobile communication network. With Africell Pre-Paid line there are no monthly fees, no bills; you will be able to access all our services, such as Voice Mail, SMS, Call Waiting, and you can instantly recharge your mobile at anytime and anywhere by buying one of Africell’s recharge cards denominations available in the market. In addition with Africell you will enjoy the lowest tariff in town.<br/><br/>

<b>What is a Post Paid Line?</b><br/><br/>
Africell’s postpaid line is a contract line payable by monthly bills. With Africell’s postpaid line, you don’t have to think of recharging just keep calling.
Requirements:-

•	The customer should be in possession of a valid ID card/passport
•	The Cost of the SIM Card is D300
•	A monthly rental fee of D175 and a 22% taxable amount of the overall bill
To get value added services or calling international:-

•	The customer pays D5000 refundable
•	For roaming, the customer pays D15000 refundable.
•	Call conferencing
•	Itemized Billing
•	Advance I-Clip
•	Change of Language
Frequently Loge complaints:

•	I can’t make outgoing calls
•	I can’t send SMS both local and international
•	Did I exceed my limit etc?

You should take down any complaint about postpaid lines on a General form and submit it to the technical department.




VALUED ADDED SERVICES
CLIP (Caller Line Identification Presentation):
It enables customers to identify the number of the party calling you i.e. the number of the caller will appear on the screen of your mobile phone.
CLIR (Caller Line Identification Restriction):
This service enables customers to hide their number whenever they make an outgoing call. The other party i.e. the receiver will not be able to see or know the number you are calling with. It normally indicates: Unknown Number, Private Number or Withheld.
The fee for CLIR activation is D1000.00
CALL WAITING:
It enables callers to be notified of an incoming call when they are busy on another one.
VOICE MAIL SERVICE (VMS):
It enables callers to leave you a message whenever you are unreachable. For message retrieval dial 123 and your default PIN code is 1234.
INTERNATIONAL DAILING:
It enables customers to call any international destination anywhere around the world, each country have its unique dialing code.
SMS (Short Message Service):
Enable customers to send and receive text messages worldwide. Make sure that your message centre number is +2207780001 in your message settings.
For local SMS entre the sent party number as 7XXXXXX or +2207XXXXXX, where 7XXXXXX stands for the Africell number. For international SMS enter the party number as + CC MN; where CC is the country code of the destination number and MN is the mobile number of the destination number (For Example: +447XXXXXXXX). Or enter the number as you would dial it but change the leading zeros with a plus sign (+).
VOICE MESSAGE SERVICE:
Voice Message allows the subscriber to directly leave a Voice Message to the Second Party’s number of your choice.
1.	Simply Dial 151 followed by the number of the second party to which the voice message is meant to be set. (For Example: 1517XXXXXX)
2.	You will hear an automatic Voice Prompt saying “You have reached the Voice Mail of the Number that you have dialed Please leave your message after the tone”.
3.	A text message will be received by the second party containing: “You have a new Voice message and the last message was left by 7XXXXXX”
4.	The Second party has to dial 123 and enter the default PIN 1234 to access the voice message.
INTELLIGENT CLIP SERVICE (Prepaid and Postpaid)
Stay connected with friends and family and control the way you answer your calls even when your phone is switched off or not within reach,
1.	Send a blank SMS to the short code 128 to get one (1) month subscription or to 129 to get three (3) months subscription for 30 units and 90 units respectively.
2.	You will immediately receive a confirmation message containing: “The Intelligent Clip Service has been activated on your line; your subscription to this service will expire on the ‘dd/mm/yyyy’.
3.	Now to put the service into to use, choose one of the divert options and divert yours calls to +220125. (You can change the divert conditions as much as you want FREE of CHARGE)
4.	Each time you are called, you will get an SMS containing the Number that called you along with the date and time.
5.	To Deactivate the INTELIGENT CLIP go to your divert settings and cancel the active divert.
As long as your subscription status is active you can still reactivate the service by following the first three (3) steps.
ADVANCE INTELLIGENT CLIP SERVICE (For Postpaid Only): To activate the Advance Intelligent Clip, send the word “ACT” in a new text message to 127, you will receive a confirmation message informing you that “the personalized SMS auto reply has been activated”. To deactivate the Advance Intelligent Clip, send the word “DEACT” in a new message to 127 and you will receive a confirmation message informing you that “the personalized SMS auto-reply has been deactivated… to change the default auto-reply message, send your personalized text message to 125.
HOROSCOPE SERVICE (Postpaid and prepaid)
You want to find out what the stars says about you for the day, this is the service for you.
1.	Type your Horoscope sign name in a message (Aries, Leo, Capricorn, Scorpio….)
2.	Send the message to 7151
3.	You will receive an Auto-Reply message with your horoscope for that day.




SMS 2 EMAIL SERVICE: (Postpaid and prepaid)
The easiest way to send an email directly from your mobile phone through SMS with no fancy configurations required.
Open a new message.
1.	Type in the body of the SMS – the recipients email address followed by # and then email content (e.g.  example@yahoo.com# your brother passed his exams…)
2.	Send the SMS to 7191
3.	You will receive an Auto-Reply Confirmation message saying: “Your email has been sent”
4.	The recipient email will be as follows:
From:SMS2Email@africell.gm
Subject:” Email from: +2207XXXXXX
WOH MA or Call me Service (Postpaid and prepaid)
No need to worry much when you are out of credit and want to be connected with another Africell subscriber, the Wohma service can do just that for you.
Procedure:
•	Go to create messages
•	Type the Number of the person you want him/her to call you and send it to7140.
WHO MA or Call me Service (International)
We make it more easier for you when you are out of credit and you want to be connected with friends, family and relatives living abroad, the International Wohma can do just that for you
Procedure:
•	Go to create messages
•	Type the Number of the person you want him/her to call you e.g +447xxxxxxxxx and send it to7140.
SMS TO T.V: This service allows customers to directly send comments, request, or contributions live on GRTS……. 
Procedure:
•	Go to create message
•	Type your contribution or request
•	Send the message to 7181
This service will only cost you D1/sms.
FUN RING SERVICE (Postpaid and prepaid)
This service is one of the best services and mostly used by our subscribers. It allows you to play music to your callers whenever they dial your number.
Procedure:
•	Go to create message
•	Type FUN and send it to 139
•	You will receive a confirmation message from Africell welcoming you to the service with a four digit password that you can use to access the funring on the company website.
•	Either call our toll free line for the code of your choice or use the search engine i.e. send the artist name to 138  and you will receive the code for that song.
•	Go to create message and type “set” leave space and type the code of the song (e.g. SET 11453)
•	Send the message to 139
•	The Fund ring will be activated for all callers.
And to activate a special funring for a specific caller:
•	Go to create message
•	Type “F 11453 7XXXXXX”
•	And send it to 139. That specific tune will be activated for only that caller.
The charge for this service is 50 bututs per day.
You can also get the TOP TEN fund ring for every week on the newspapers or on our radio shows. 
E-Voucher Service :( Prepaid Only)
Invalid Scratch card and over scratch a thing of the past
This is a new way of selling airtime using credit transferring as a selling method. With an Electronic Voucher system, you can now recharge as low as GMD10.00 and as high as GMD 5000.00.
NB: The bonus will be added when the purchase amount is equal or above GMD 25.



PREPAID ROAMING
International roaming for everyone
This is a service that allows the subscriber to make and receive calls using his/her Africell SIM card when travelling abroad. The subscriber would still be contactable on his/her existing mobile number and any call s/he makes abroad will be charged to his mobile account back in the Gambia.
Procedure:
•	The subscriber should check to see if Africell has a roaming agreement with one of the GSM operators in the country s/he will be visiting. The subscriber can contact Africell customer for roaming partners on 111 or simply visit any of our outlets.
•	The service would be activated by our customer care agents and whenever you follow our advice on what to do; you should be able to automatically register on the available network within minutes.
•	Send empty sms to 1001 and it will deduct only D1:00 from your account. 
Validity Extension 
	No validity, your number is for life. Customers are advice to activate the validity extension if you will not use your line for more than three months or else Africell have the right to recycle the line and put it back to the market for sale.
	Send empty sms to 1002 and it will deduct you only D10 from your account and it will last for one year.
Calls divert:
This service allows customers to divert their calls to another line using the available diverting options. And you can switch from one diverting option to another which fits your need.
Cheap International Tariffs:
With your Africell line you get to enjoy the lowest international tariffs on a crystal clear line.
Emergency Help Line:
You can call 112 for free in case of emergencies even if you are out of credit.
Network:
With your Africell line you can connected to the biggest network in the Gambia with a nationwide coverage.
BBC Premier League update:
With your Africell line you can listen to the English premiership league update on your mobile phone.
Procedure:
	Simply dial 3121 and listen to the voice prom 
	The service cost 1 dalasi per every call made.
Love Meter:
This service allows you to know the love percentage for you and your love once.
Procedure:
	Simply type the your name and the name of your partner separated by a space and send it by SMS to 7114.
	This service cost is 1 dalasi for each received SMS.
Love Quote:
This service allows you to receive a love message which you can send to your love once.
Procedure:
	Simply send a blank SMS to 7115.
	This service cost is 1 dalasi for each received SMS.
Ringtone & Logos:
This service allows you to have a ringtone or logo by sending a code to 7121 for a ringtone and 7131 for a logo
Procedure:
	Simply create message type the code to the song e.g 10321 send by SMS to 7121 and for a logo type the code of the logo e.g 00469 and send it by SMS to 7131.
	This service cost 2 dalasi per Ringtone or Logo.

Aljazeera Mobile Service:
Get the world’s top stories from Aljazeera news outlet on your Africell line and stay in touch with the latest developments wherever you are.
Instructions:
	To subscribe to this service for 30 days type SUB and send it by SMS to 7272 and receive all kinds of updates from breaking news to political news and sports news for 1 dalasis per day. 
	You can also get the type of updates you want anytime without subscription for only 1 dalasis by typing news or sports or political and send it by SMS to 7272.
	To deactivate this service type UNSUB and send it by SMS to 7272. 

Star Match Service: 
This service enables you to get a compatibility report based on your horoscope sign and the horoscope sign of the person you wish to be matched with.
Instructions:
	Stars signs: (Aries, Taurus, Gemini, cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, Pisces)
	To get your star match report open new message and type in your horoscope sign followed by the horoscope sign of the person you wish to be matched with and send it by SMS to 7116
	You will receive three SMS containing your star match report
	This service cost is 1 dalasi for each received SMS
Africell Exchange Rates: This service allows customer to find out the buying and selling rates of the US Dollar, British Pound, Euro and CFA for that particular day.
This service has two methods of subscription:
1.	Permanent subscription: The subscriber will Type SUB and send it by SMS to 2132 to receive buying and selling rates of the above mentioned currencies every day.
         Cost: onetime fee of 1 dalasi for subscription + 1 dalasi/day

2.	On demand method: the subscriber will send a blank SMS to 2132 anytime to receive the buying and selling rates of the US dollar, the British pound, the CFA and the Euro.
          Cost: 2dalasis/SMS


To unsubscribe: the subscriber will type UNSUB and send it by SMS to 2132
Cost: 1 dalasi/SMS 
Africell Self Service: Customer care by SMS
This service allows customer to find out more about a particular service through our customer care on a text format.
Example type (fun ring) and send it by SMS to 111, and you’ll replied with all the information you need to know about the funring service.
This service costs 1 butut per sms

Sports update
Get all latest update from the world of sport directly on your Africell line with the sport update service.

Procedure:
	Type SUB and send it 7070
	The service cost D1 per sms.

SIM Card:
Buy your Africell line just for D10 and get D15 worth of credit and be a winner because every lucky seven (7) user is a winner.  


Choose your Number (222)
With this service from Africell, you can now choose or customize your own number by simply:
•	Calling 222 or during our radio programs
•	Visiting our website on www.africell.gm and it will cost you not a single butut
•	Visit any of our service centers country wide 
•	This service will cost you only GMD10 and totally free on our website or radio programs

TOK service:
This service allows our customers to talk to a particular number for all day long total free of charge.
To Subscribe:
•	Go to create Message, type SUB and send it to 135
•	You will receive a confirmation message, call 135 and follow the voice prompt.
•	The service cost only D150 per month.
•	The customer will be notified prior to the expiry date.

Send me Credit: 
This service allows you to send a free SMS to another Africell subscriber, requesting for credit transfer to your number, with a specified amount of credit.
Procedure:
	Create a new SMS text message.
	Type in the number of the person you would like to request credit transfer from, followed by space and the specified amount of credit you are requesting for. example :(7xxxxxx<space>45)
	Send the message to 7143
	The other Africell subscriber will receive an SMS from your number with the message: “Please send me D50 Credit” 

SMS Express:
This Service allows our customer to send 50 SMS daily to another Africell subscriber.
Procedure:
	Create a new message type SUB and send it 7050.
	You will receive 50 Sms daily 
	This service will cost you only D5 daily.




Voice Credit Transfer: Another easy way to transfer credit 
To use this service, simply dial 141, listen to the voice prompts and follow the instructions
The minimum amount to transfer credit is 20 Dalasis
This service is available in four languages: English, Mandinka, Wollof, and French.

Facebook by SMS
	This service allows our subscribers to use facebook via SMS. They will be able to:
	Update their status
	Received updates from 20 chosen friends
	Write on their wall
	Comment on their friends updates
	Received comments written on their walls by their chosen friends.
Billing:
	Each SMS to 7000 will cost 50 bututs
	A daily charge of 1 Dalasi will be deducted.

Ramadan Douaa (Prepaid and Postpaid)
This service will allow our subscribers to receive a Douaa messages on their phone. The message will be sent in 2 SMS: the first one in English and the second it’s transliteration (Arabic written in Latin letters)
Procedure:
•	To get the message a subscriber should send an SMS to 7122 and will receive the two douaa messages.
Billing:
•	The SMS to 7122 will cost 1 Dalasi.






Holy Quran Recitation
With Africell you don’t need a fancy phone to have the access to the Holy Quran. You just have to dial 2153 and follow the voice instruction to listen to different surahs assigned to the range of numbers from 1 to 114 followed by a # key.
This is illustrated in the diagram below:







Whilst the subscriber is listening to a selected surah s/he can go to another surah by pressing the surah number followed by the # Key.
This service will be charged at 50 bututs per minute 
Prayer Times (Prepaid & Postpaid)
This service will allow our subscribers to receive a SMS 5 minutes before each prayer time (5 times a day).
Procedure:
	The subscriber will have to send a SMS containing SUB to 7120 and will receive the following SMS:
	 Dear subscriber, thank you for choosing the prayer times service from Africell. Now you will receive every day an SMS reminder before each praying time
	A subscribed user will receive 5 minutes before each prayer time the following SMS:
	Assalamu Allaykum. It’s time to Pray FAJR
	Assalamu Allaykum. It’s time to Pray ZUHR
	Assalamu Allaykum. It’s time to Pray ASR
	Assalamu Allaykum. It’s time to Pray MAGHRIB
	Assalamu Allaykum. It’s time to Pray ISHA
If a user sends UNSUB to 7120 s/he will be unsubscribed from this service and s/he will receive the following SMS:
	Dear subscriber, your subscription to the prayer times service has been deactivated to subscribe again please type SUB & send it by SMS to 7120
NB: Please Note that a subscriber can send an empty SMS to 7120 to receive the 5 day’s prayer times in one SMS.
Billing:
	Each SMS to 7120 is billed 1 Dalasi.
	1 Dalasi per day is deduced from the subscribed users account.
For Him and Her daily tips
This service enables subscribers to receive useful tip for boys and girls by sms every day at 10:00 am.
How to:
To subscribe to this service and receive useful tips for boys:
	The subscriber has to type SUB and send it by SMS to 7001(for boys)

To subscribe to this service and receive useful tips for girls:
	The subscriber has to type SUB and send it by SMS to 7002(for girls)
If later the subscriber wishes to unsubscribe from this service s/he has to type UNSUB and send it by SMS to 7001 or 7002
Billing:
SMS to 7001 or 7002: D1/SMS
Daily fees for each short code: D1/day.








Useful Numbers
	Customer Care                                   		111/121/131
	Credit Balance Enquiry                               	133
	Credit Recharge                                  		134
	Voice Mail Retrieval                              		123
	 SMS2email                                           		7191
	Horoscope                                            		7151
	Logos                                                     		7132
	Ring Tones                                            		7121
	Voice Message                                    		151
	Intelligent Clip                                     		125
	Wohma                                                   		7140
	Fun Ring                                                 		139
	Love Meter                                            		7114
	Love Message                                       		 7115
	SMS2 TV                                                 		 7181
	Choose your Number     			  222
	Calls Divert                                                            +220
	Emergencies                                                          112
	BBC Premier League Update                              3121
	Star Mach service				 7116
	Aljazeera Service				 7272
	Self Service					 111
	Tok Service					  135
	SMS EXPRESS					  7050
	Own number enquiry 				  2111
	Would sports update 				  7070
	Daily Tips for Boys				  7001
	Daily Tips for Girls				  7002
	Prayer time					 7120








Frequently Ask Question
What is the meaning GSM?
Global System of Mobile Communication
What is the meaning of PUK?
Personal Unlock Key. The PUK is use to unlock SIM card with aiding default pin number of 1234. And every SIM card has its unique PUK code.
How do you activate the Fun Ring?
There are two ways to activating the Fun Ring 
	Call 139 and follow the voice prompt and choose any music of your choice.
	Create a new message type the word Fun and send it to 139 then you will receive an auto reply message which will so you that you have subscribe in the service then you Call the Customer Care on 111,121 or 131 and ask for any music code of your choice.
When did Africell started operating in The Gambia?
Africell Company ltd started operating in The Gambia in October 2001.
How do you send and listen to Voice Message?
	To send a voice message you first dial 151 follow by the number where you want send the Voice Message and press send example (1517123456) and press Send and then listen to the voice prompt. 
	To listen to a voice message simply dial 123 and listen to the voice prompt it will ask you to enter the pin code which by default is 1234 then you can listen to the Voice Message sent to your number.
What is the meaning of SIM rejected?
It means the SIM Card is out of Service.
What is Intelligent Clip Service use for? 
It enable customers to manage their Calls anytime and anywhere you are, example if you are in a meeting and you don’t want to receive any call you can simply turn off your phone but with the help of the ICLIP any time you put on your phone you will receive an auto message showing numbers that called you with the date and time.
How to activate the Intelligent Clip Service?
There are two ways to subscribe to the Intelligent Clip Service.
(One month subscription) Send a blank SMS to 128 then go to divert calls choose the option where you want to divert your calls to and divert your calls to (+220125) and it will cost you D30.
(Three months subscription) Send a blank SMS to 129 then go to divert calls choose the option where you want to divert your calls to and divert your calls to (+220125) and it will cost you D90.
 
What are the International tariffs?
	Africell to Zone 1	GMD 9.60
	Africell to Zone 2	GMD 14.00
	Africell to Zone 3	GMD 17.50
	International SMS GMD 3.00 per page
What are the Local tariffs?
	Africell to Africell	GMD 2.60
	Africell to Cross Network GMD 3.00
	Local SMS GMD 0.50 per page 

How do one transfer credit from phone to another?
There are three ways to transfer credit, either by.
	The Africell Menu 
	Via Text message
	Voice call 141
	Via shortcut *141*
Using the Africell Menu 
	Go to Africell Menu on your phone 
	Click on the credit transfer and enter the amount you want to transfer and press ok
	Enter the number of the recipient  and press OK
	You will receive an SMS notification confirming your transaction from 6181 
	Reply a blank SMS to 6181(Within 20 minutes) 
	And then your credit will be successfully transferred.
Via Text message 
	Go create messages 
	Type the amount of credit you wish to transfer followed by the # Key and number of the recipient (20#7744888)
	Send the message to 6171
	You will receive a confirmation message from 6181 
	Reply a blank SMS to that number i.e. 6181(Within 20 minutes)
	And then you will receive a SMS notification of the Successfully transferred credit details


Calling 141
	Call 141
	Choose one from the four available languages
	And follow the voice command 
Using Shortcut method
	Simply dial *141*7744888*20# then press send 
	And then you will receive a flash SMS notification of the successfully transferred credit details.
What is Africell’s Message Centre Number?
The Africell Message Centre Number is +2207780001
Africell 3G Service Activation
	Subscribers have to register his or her number.
	Configure the phone, if the phone is compatible for internet use.  
	Subscriber must have the 3G connection in his or her line in other to have access to the internet. 
KOOLAREH SERVICE (152): 
This service enable subscribers who has been using their lines for a period of one year above to have the opportunity that borrow credit. The amount which can be borrowed depends on the number of years that the SIM card is active.
How to:
	To subscribe to this service send empty sms to 152 or call 152 to borrow credit  
	IMPORTANCE: This service is always at the aid of subscriber whenever they had important calls to make and did not have access to reload their accounts.

          </div>
        </div>
      </div>  
    </section>
 </div>
